<%= javascript_include_tag "/javascripts/date" %>
<script type="text/javascript">
    var tt_cancel_destination = "/patients/show/<%= @patient.patient_id -%>";
    <% @session_date = "#{session[:datetime].to_date rescue Date.today}" %>
    <% @todayDate = @session_date.to_date  %>
    <% @alert_date = @session_date.to_date - 90.days %>
    var ageInMonths = '<%= @patient_bean.age_in_months %>';
    var patientGender = "<%= @patient_bean.sex.upcase %>";

    function checkTestDate() {
        var dateCheck = "";
        var currentYear = '<%= @todayDate.year %>';
        var currentMonth = '<%= @todayDate.month %>';
        var testDate = new Date($('hiv_test_year').value, $('hiv_test_month').value - 1, $('hiv_test_day').value);
        <% @session_date = "#{session[:datetime]} rescue #{Date.today}" %>
        var years = testDate.getFullYear();
        var month = testDate.getMonth();

        years = currentYear - years;
        month = currentMonth - month;
        var total = (years * 12) + month;
        var sessionDate = "<%="#{@session_date.to_date.year},#{@session_date.to_date.month},#{@session_date.to_date.day}"%>";
        var todayDate = new Date(sessionDate);

        if ((total > ageInMonths) || (testDate > todayDate)) {
            dateCheck = false;
        } else {
            dateCheck = true;
        }
        return dateCheck
    }

    function updateTestDate() {
        var testDate = new Date($('hiv_test_year').value, $('hiv_test_month').value - 1, $('hiv_test_day').value);
        $('hiv_test_date').value = testDate;

        <% @session_date = "#{session[:datetime]} rescue #{Date.today}" %>
        <% @todayDate = @session_date.to_date - 90 %>

        var sessionDate = "<%="#{@todayDate}"%>";
        var todayDate = new Date(sessionDate);

        if (todayDate > testDate) {
            showNegativeTestReminder = true;
        } else {
            showNegativeTestReminder = false;
        }
        return showNegativeTestReminder
    }

    function upNextButton() {
        if ($('hiv_status').value == 'Unknown') {
            $('nextButton').innerHTML = '<span>Finish</span>';
        } else if ($('hiv_status').value == 'Negative' && ($('hiv_test_year').value == 'Unknown')) {
            $('nextButton').innerHTML = '<span>Finish</span>';
        } else if ($('hiv_status').value == 'Negative' && ($('hiv_test_day').value == 'Unknown')) {
            $('nextButton').innerHTML = '<span>Finish</span>';
        }
    }

    function updateInitiationDate() {

        testDate = createDate($('hiv_initiation_year').value, $('hiv_initiation_month').value, $('hiv_initiation_day').value);
        $('hiv_initiation_date').value = testDate;
        <% @session_date = "#{session[:datetime]} rescue #{Date.today}" %>
        <% @todayDate = @session_date.to_date - 90 %>

        var sessionDate = "<%="#{@todayDate}"%>";
        var todayDate = new Date(sessionDate);

        if (todayDate > testDate) {
            showNegativeTestReminder = true;
        } else {
            showNegativeTestReminder = false;
        }
        return showNegativeTestReminder;
    }

    function isTestOverDue(testDate, alertDate) {
        if (testDate <= alertDate) {
            return true;
        } else {
            return false;
        }
    }

    function createDate(year, month, day) {
        date_str = year;

        if (month.length == 1)
            month = '0' + month;

        date_str += '-' + month;

        if (day.length == 1)
            day = '0' + day;

        date_str += '-' + day;

        intyear = 0;
        intmonth = 0;
        intday = 0;
        intyear = parseInt(date_str.substring(0, 4));
        intmonth = (parseInt(date_str.substring(5, 7)) - 1);
        intday = (parseInt(date_str.substring(8, 10)));

        if (intmonth == -1)
            intmonth = (parseInt(date_str.substring(5, 7).substring(1, 2)) - 1);

        if (intday == 0)
            intday = parseInt(date_str.substring(8, 10).substring(1, 2));

        return new Date(intyear, intmonth, intday);
    }

</script>

<style>
  .tt_controls_hiv_test_year #char {
    display: none;
  }

  .tt_controls_hiv_test_month .keyboard {
    display: none;
  }

  #tt_page_hiv_test_month .options {
    height: 550px;
  }

  #tt_page_hiv_test_month .options li {
    font-size: 35px;
  }

  #space {
    display: inline;
  }
</style>

<%

  pregnancy_options = [
      ["Yes", "Yes"],
      ["No", "No"],
      ["Unknown", "Unknown"]

  ]
  hiv_status_options = [
      ["Previous Positive NOT on ART", "Previous Positive not on ART"],
      ["Previous Positive ON ART", "Previous Positive on ART"],
      ["Previous Negative", "Previous Negative"],
      ["New Positive", "New Positive"],
      ["New Negative", "New Negative"],
      ["Never Tested", "Never Tested"]
  ]


  visit_types = [
      ["New", "New"],
      ["Referral", "Referral"],
      ["Revisiting", "Revisiting"]
  ]

  national_id_options = [
      ["Yes", "Yes"],
      ["No", "No"]
  ]
%>

<form id='patient_registration' action="/encounters/create" method='post'>
  <%= hidden_field_tag "encounter[encounter_type_name]", "REGISTRATION" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", current_user.user_id %>

  <%= (touch_select_tag "TYPE OF VISIT", @patient, options_for_select(visit_types),
                        {:id => "type_of_visit",
                         :tt_pageStyleClass => "NoKeyboard",
                         :helpText => "Type of visit"
                        }).html_safe %>


  <%= select_tag "npid", options_for_select(['', 'Yes', 'No']),{
      :id => "npid",
      :helpText => "Does the patient have National ID"
  } %>

  <%= text_field_tag "national_id", nil, {
      :condition => '$("npid").value.match(/YES/i)',
      :helpText => 'National ID'
  } %>

  <%= (touch_select_tag "IS PATIENT PREGNANT?", @patient, options_for_select(pregnancy_options),
                        {
                            :id => "pregnant",
                            :condition => "patientGender == 'FEMALE'",
                            :helpText => "Is the patient pregnant?"
                        }).html_safe %>

  <%= (touch_select_tag "HIV STATUS", @patient, options_for_select(hiv_status_options),
                        {:id => "hiv_status",
                         :tt_pageStyleClass => "NoKeyboard",
                         :helpText => "HIV Status"
                        }).html_safe %>

  <%= text_field_tag "hiv_test_year", nil,
                     {
                         :helpText => 'HIV test year',
                         :field_type => 'number',
                         :absoluteMin => "1982",
                         :min => "1982",
                         :absoluteMax => Date.today.year,
                         :tt_pageStyleClass => "Numeric NumbersOnly",
                         :condition => '!($("hiv_status").value.match(/NEVER TESTED/i))'
                     }
  %>

  <%= select_tag "hiv_test_month", month_name_options,
                 {
                     :helpText => 'HIV test month',
                     :condition => '($("hiv_test_year").value.toLowerCase() != "unknown") && !($("hiv_status").value.match(/NEVER TESTED/i))',
                     :tt_onLoad => "__$('keyboard').style.display = 'none'"
                 } %>

  <%= text_field_tag "hiv_test_day", nil,
                     {:field_type => 'number',
                      :helpText => 'HIV test day',
                      :validationCode => "checkTestDate()",
                      :validationMessage => "HIV test date greater than #{session[:datetime].to_date rescue Date.today.to_date}",
                      :condition => '($("hiv_test_year").value != "Unknown") && ($("hiv_test_month").value != "Unknown") && !($("hiv_status").value.match(/NEVER TESTED/i))',
                      :tt_onLoad => "getDayOfMonthPicker($('hiv_test_year').value,$('hiv_test_month').value);",
                      :tt_onUnload => "updateTestDate();"
                     } %>


  <%= (touch_location_tag "LOCATION OF HIV TEST", @patient, nil,
                          {
                              :id => "location_of_hiv_test",
                              :condition => '$("hiv_status").value.match(/POSITIVE/i)',
                              :ajaxURL => '/encounters/locations?search_string=',
                              :helpText => "Location of HIV test"
                          }).html_safe %>

  <%= (touch_hidden_tag "HIV TEST DATE", @patient, nil, {:id => "hiv_test_date", :value_datetime => true}).html_safe %>

  <% session_date = session[:datetime].to_date rescue nil
     if session_date %>

    <p><label for="filter_provider">Staff who provided the information (Provider)</label></br>
      <%= text_field "filter", 'provider', :helpText => 'Staff who provided the information (Provider)', :ajaxURL => '/users/username?username=' %>
    </p>
  <% else %>
    <%= hidden_field_tag "filter[provider]", nil %>
  <% end %>

  <%= submit_tag "Finish" %>

</form>